@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  background-color: #f6f7f6;
  color: #313d33;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #e3e7e3;
}

::-webkit-scrollbar-thumb {
  background: #a3b2a3;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a8f7a;
}
